<!-- <table>
    <thead>
    <th>Author</th>
    <th>TITLE</th>
    <th>IDEA</th>
    </thead>
    <tbody>
    <tr *ngFor="let post of postsData">
    <td>{{post.name}}</td>
    <td>{{post.topicname}}</td>
    <td>{{post.description}}</td>
    <button>Reply</button>
    </tr>
    </tbody>
    </table> -->

    <div class="boxed" >
      You are logged in as : <strong> {{name}}</strong>
    </div>
    <div class="boxed" *ngFor="let post of postsData" id = {{post._id}}>
        Author : {{post.name}}
                <br>
                <br>
        Title : {{post.topicname}}
        <br>
        <br>
        Description : {{post.description}}
        <br>
        <br>
        Comments : {{post.comments}}
        <br>
        <br>
        <div id="items">
        <!-- <input type="button" value="Comment" id="comment" (click)="addComment()"> -->
        <input type="button" id="comment" value="Comment" (click)="addComment(post._id)">
      </div>
      </div>
